@model DONDE_INVIERTO.Model.Empresa

@{
    ViewBag.Title = "ConsultarValor";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="formholder-nueva-empresa">
        <div class="row-title">
            <label>Consultar Valores</label>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row-form">
                 <div class="col-md-6">
                    <label for="empresa">Elegir Empresa</label>
                    <div>
                        <!-- Acá tendrían que ir el listado de empresas creadas
                            <Html.DropDownListFor(Model => Model.Periodo.EmpresaId, new SelectList(ViewBag.Empresas, "Id", "Nombre"), new { id = "cboEmpresas", class = "form-control" })> -->
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                Nombre
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Empresa 1</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Empresa 2</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Empresa 3</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            
            
            <div class="row-form">
                <div class="col-md-6">
                    <label for="tipoperiodo">Tipo de Período</label>
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="">Semestral</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="">Anual</label>
                    </div>
                    <div class="form-group">
                        <label for="periodo">Ingresar Período</label>
                        <input type="text" class="form-control" id="periodo">
                    </div>
                </div>
            </div>

        </div>

        <div class="row-form-footer">
            <a id="btn-volver" onclick="location.href='@Url.Action("List", "Empresa")'" class="btn btn-default">Volver</a>
            <input type="submit" value="Consultar Cuenta" class="btn btn-success" />
            <input type="submit" value="Consultar Indicador" class="btn btn-success" />
        </div>

        </div>
  }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
