@model DONDE_INVIERTO.Model.Empresa

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="formholder-nueva-empresa">
        <div class="row-title">
            <label>Eliminar Empresa</label>
        </div>

        <div class="row-form col-md-offset-3">
        </div>

        <div class="row-form">
                <div class="col-md-6 col-md-offset-5">
                    <h1>
                        @Html.DisplayFor(model => model.Nombre)
                    </h1>
                </div>
        </div>
        
        <div class="row-form-footer">
                <div class="alert alert-danger">
                    <strong>¡Cuidado    !</strong> ¿Está seguro que desea eliminar esta empresa?
                </div>
                <a id="btn-volver" onclick="location.href='@Url.Action("List", "Empresa")'" class="btn btn-default">Volver</a>
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>
   </div>
}