@model DONDE_INVIERTO.Models.Empresa
@{
    ViewBag.Title = "Editar empresa";
}

<h2>Editar empresa</h2>
@using (Html.BeginForm("Edit", "Empresas", FormMethod.Post, new { @id = "form" }))
{
    <div class="form-horizontal">
        <div class="alert alert-danger divErrores" style="display: none;">
            <strong>Errores:<br></strong> <ul id="listaErrores"></ul>
        </div>
        @Html.HiddenFor(x => x.CUIT)
        <div class="form-group">
            <label>Nombre</label>
            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @id = "nombre" })
        </div>
        <div class="form-group">
            <label>CUIT</label>
            @Html.TextBoxFor(x => x.CUIT, new { @class = "form-control", @disabled = true, @id = "cuit" })
        </div>
        <div class="form-group">
            <label>Fecha de fundacion</label>
            @Html.TextBoxFor(x => x.FechaFundacion, new { @id = "fecha", @class = "form-control", @type = "date", @required = true, @Value = Model.FechaFundacion.ToString("yyyy-MM-dd") })
        </div>
        <input type="button" value="Editar" class="btn btn-primary" onclick="submitear()" />
    </div>
}


<script>
    function submitear() {
        var nombreCheck = /^[a-zA-Z0-9\s]{1,30}$/.test($("#nombre").val());
        var cuitCheck = /^[0-9\s]{1,11}$/.test($("#cuit").val());
        fechaForm = new Date(Date.parse($("#fecha").val())+3600000*3);
        fechaActual=new Date();
        var fechaCheck = fechaForm < fechaActual;
        var errores="";
        if (!nombreCheck)
            errores += "<li>El nombre es obligatorio y solo puede contener numeros, minusculas, mayusculas y espacios, con un maximo de 30 caracteres.</li>";
        if (!cuitCheck)
            errores += "<li>El cuit es obligatorio y solo puede contener numeros, con un maximo de 11 caracteres.</li>";
        if (!fechaCheck)
            errores += "<li>La fecha es obligatoria y no puede ser futura.</li>";
        if (nombreCheck && cuitCheck && fechaCheck)
            $("#form").submit();
        else {
            $("#listaErrores").html(errores);
            $(".divErrores").show();
        }
    }
</script>