@model IEnumerable<DONDE_INVIERTO.Model.Empresa>

@{
    ViewBag.Title = "Empresas / Listado";
}
<div class="row row-striped">
    <h2>Empresas / Listado</h2>
</div>
<div class="row">
    <div class="col-md-12" align="right">
        <a id="btn-nueva" onclick="location.href='@Url.Action("Create", "Empresa")'"  class="btn btn-success">Nueva</a>
    </div>
</div>
<div class="row">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        <button type="button"    onclick="location.href='@Url.Action("Edit", "Empresa", new { id = item.Id })'" class="btn btn-primary">Editar</button>
                        <button type="button"   onclick="location.href='@Url.Action("Delete", "Empresa", new { id = item.Id, nombre = item.Nombre, fecha_creacion = item.Fecha_Creacion })'"  class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            }
        </table>
</div>

















