@{
    ViewBag.Title = "Carga de archivos para balances";
}

<h2>Carga de archivos para balances</h2>

@using (Html.BeginForm("CargarArchivo", "Cargar", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" value="Subir" />

        @ViewBag.Message

    </div>


}