body {
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    background: #474747;
}

.row-title {
    background: #333;
    height: 35px;
    position: relative;
}

.row-title label {
    font-size: 25px;
    color: #9d9d9d;
    margin-left: 15px;
}

.formholder-nueva-empresa {
    background: #ecf0f1;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    padding-top: 5px;
    position: fixed;
    top: 24%;
    left: 24%;
}

.row-form {
    position: relative;
    height: 70px;
    margin-top: 10px;
}

.row-form-footer {
    position: absolute;
    bottom: 10px;
    width: 98%;
}

.row-form-footer .btn {
    float: right;
    margin-left: 5px;
}

.row-form-footer btn-default {
    float: right;
}