@model Tuple<DONDE_INVIERTO.Model.Periodo, DONDE_INVIERTO.Model.Cuenta>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    

}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label for="fecha">Inicio de Obra</label>
            <div class='input-group date' id='fecha'>
                @Html.TextBoxFor(model => model.Item1.Inicio, new { @id = "fecha", @class = "form-control input-date" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#fecha").datetimepicker({
                    format: "DD/MM/YYYY hh:mm:ss a",
                    locale: 'es'
                });
            });

        </script>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

