@model DONDE_INVIERTO.Model.Cuenta
@{
    ViewBag.Title = "Details";
}


<div class="jumbotron form-horizontal">
    <h1>Cuenta</h1>

    <div class="form-group">
        <label>Empresa : @Model.Empresa.Nombre</label>
    </div>
    <div class="form-group">
        <label>Período : @Model.Periodo</label>
    </div>
    <div class="form-group">
        <label>Cuentas</label>
        <table class="table-bordered" style="font-size:14px">
            <tr>
                <th>Nombre</th>
                <th>Valor</th>
            </tr>
            @foreach (var item in Model.Cuentas)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>$@item.Valor</td>
                </tr>
            }
        </table>
    </div>
</div>

