@model List<DONDE_INVIERTO.Model.Empresa>
@{
    ViewBag.Title = "ObtenerEmpresasDeseables";
}
<div class="jumbotron">
    <h2>Empresas deseables para invertir segun la metodología: @ViewBag.Metodologia_Nombre</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Nombre</li>
        }
    </ul>
</div>


